@model MeFirst.Models.Treatments

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Treatments</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Moisturizer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Moisturizer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Retinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Retinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Toner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Toner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Spf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Spf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkinTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkinTypeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TreatmentsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
