@model MeFirst.Models.SkinType

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SkinType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aging)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aging)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Oily)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Oily)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Combination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Combination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TreatmentsID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TreatmentsID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SkyinTypeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
