@model IEnumerable<MeFirst.Models.SkinType>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aging)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oily)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Combination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TreatmentsID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aging)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oily)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Combination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TreatmentsID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SkyinTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SkyinTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SkyinTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
