@model IEnumerable<MeFirst.Models.SkinType>

@{
    ViewData["Title"] = "Index";
}

<h1>Understanding your skin type</h1>

<p>
    <a asp-action="Create">Determine your routine.</a>
</p>
<table class="table sortable table-stripped table-hover">
    <thead>
        <tr>
            <th>
                <a href="#">Dry</a>
            </th>
            <th>
                <a href="#">Agining</a>
            </th>
            <th>
                <a href="#">Oily</a>
            </th>
            <th>
                <a href="#">Combination</a>
            </th>
            <th class="sorttable_nosort">   
            </th>
            <th class="sorttable_nosort"> 
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aging)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oily)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Combination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TreatmentsID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SkyinTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SkyinTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SkyinTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
